/Assets/Polytope[[:space:]]Studio/Lowpoly_Environments/Sources/Textures/PT_Skybox_Texture_01.png filter=lfs diff=lfs merge=lfs -text
/Assets/Synty/PolygonGeneric/Textures/SyntyLensDirt_01.png filter=lfs diff=lfs merge=lfs -text
/Assets/Versatile[[:space:]]Studio[[:space:]]Assets/Demo[[:space:]]City[[:space:]]By[[:space:]]Versatile[[:space:]]Studio/Scenes/demo_city_night/LightingData.asset filter=lfs diff=lfs merge=lfs -text
/Assets/UpIzUpMini/Art/Characters/Ch06_1001_Normal.png filter=lfs diff=lfs merge=lfs -text
/Assets/UpIzUpMini/Art/Characters/Ch15_1001_Normal.png filter=lfs diff=lfs merge=lfs -text
/Assets/UpIzUpMini/Art/Characters/Ch15_1002_Normal.png filter=lfs diff=lfs merge=lfs -text
/Assets/UpIzUpMini/Art/Characters/Ch26_1001_Normal.png filter=lfs diff=lfs merge=lfs -text
/Assets/UpIzUpMini/Art/Characters/Ch28_1001_Normal.png filter=lfs diff=lfs merge=lfs -text
/Assets/UpIzUpMini/Art/Characters/Mainchar.fbx filter=lfs diff=lfs merge=lfs -text
/Assets/UpIzUpMini/Art/Characters/Strong.fbx filter=lfs diff=lfs merge=lfs -text
/Assets/Tmax[[:space:]]560.glb filter=lfs diff=lfs merge=lfs -text
/Docs/CharacterPipeline/MINI-105/EnvelopeRigProof/Sacat-ModularBase-EnvelopeRig.blend filter=lfs diff=lfs merge=lfs -text
/Docs/CharacterPipeline/MINI-105/HitemCandidate01/Candidate01-Staging.blend filter=lfs diff=lfs merge=lfs -text
/Docs/CharacterPipeline/MINI-105/IdentityCompositeProof/Sacat-IdentityComposite-Proof.blend filter=lfs diff=lfs merge=lfs -text
/Docs/CharacterPipeline/MINI-105/IdentityCompositeProof/Sacat-IdentityComposite-Proof.blend1 filter=lfs diff=lfs merge=lfs -text
/Docs/CharacterPipeline/MINI-105/RigProof/Sacat-ModularBase-RigProof.blend filter=lfs diff=lfs merge=lfs -text
/Docs/CharacterPipeline/MINI-105/SacatNoHeadphones/Sacat-NoHeadphones-Staging.blend filter=lfs diff=lfs merge=lfs -text
/Docs/CharacterPipeline/MINI-105/WeightTransferProof/Sacat-ModularBase-WeightTransfer.blend filter=lfs diff=lfs merge=lfs -text
/Assets/Mixamo/Animations/Mixamo_JabPunch.fbx filter=lfs diff=lfs merge=lfs -text
/Assets/RayznGames/BicycleSystem/HDRP/Scenes/BicycleScene_HDRP/BicycleScene_HDRP[[:space:]]Baking[[:space:]]Set.CellSupportData.bytes filter=lfs diff=lfs merge=lfs -text
/Assets/UpIzUpMini/Art/Characters/Garments/Franki_ReshapedGarments_Colored.fbx filter=lfs diff=lfs merge=lfs -text
/Assets/UpIzUpMini/Art/Characters/Garments/Sacat_Ch06_Reshaped.fbx filter=lfs diff=lfs merge=lfs -text
